@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado!";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="text-danger">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        @ViewData["Title"]
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    </h1>
    <p class="text-danger">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        Você não tem permissão para acessar este recurso.
    </p>
</div>
