@model Models.Entrevista

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Entrevista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntrevistaId" class="control-label"></label>
                <input asp-for="EntrevistaId" class="form-control" />
                <span asp-validation-for="EntrevistaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tabagismo" class="control-label"></label>
                <input asp-for="Tabagismo" class="form-control" />
                <span asp-validation-for="Tabagismo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TabagismoObs" class="control-label"></label>
                <input asp-for="TabagismoObs" class="form-control" />
                <span asp-validation-for="TabagismoObs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafe" class="control-label"></label>
                <input asp-for="Cafe" class="form-control" />
                <span asp-validation-for="Cafe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida" class="control-label"></label>
                <input asp-for="Bebida" class="form-control" />
                <span asp-validation-for="Bebida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drogas" class="control-label"></label>
                <input asp-for="Drogas" class="form-control" />
                <span asp-validation-for="Drogas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrogasObs" class="control-label"></label>
                <input asp-for="DrogasObs" class="form-control" />
                <span asp-validation-for="DrogasObs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicamento" class="control-label"></label>
                <input asp-for="Medicamento" class="form-control" />
                <span asp-validation-for="Medicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicamentoObs" class="control-label"></label>
                <input asp-for="MedicamentoObs" class="form-control" />
                <span asp-validation-for="MedicamentoObs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcMedido" class="control-label"></label>
                <input asp-for="ProcMedido" class="form-control" />
                <span asp-validation-for="ProcMedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TratPsicologico" class="control-label"></label>
                <input asp-for="TratPsicologico" class="form-control" />
                <span asp-validation-for="TratPsicologico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acidente" class="control-label"></label>
                <input asp-for="Acidente" class="form-control" />
                <span asp-validation-for="Acidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DorCabeca" class="control-label"></label>
                <input asp-for="DorCabeca" class="form-control" />
                <span asp-validation-for="DorCabeca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tonturas" class="control-label"></label>
                <input asp-for="Tonturas" class="form-control" />
                <span asp-validation-for="Tonturas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insonia" class="control-label"></label>
                <input asp-for="Insonia" class="form-control" />
                <span asp-validation-for="Insonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desmaios" class="control-label"></label>
                <input asp-for="Desmaios" class="form-control" />
                <span asp-validation-for="Desmaios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doencas" class="control-label"></label>
                <input asp-for="Doencas" class="form-control" />
                <span asp-validation-for="Doencas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoencasObs" class="control-label"></label>
                <input asp-for="DoencasObs" class="form-control" />
                <span asp-validation-for="DoencasObs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alimentacao" class="control-label"></label>
                <input asp-for="Alimentacao" class="form-control" />
                <span asp-validation-for="Alimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dominante" class="control-label"></label>
                <input asp-for="Dominante" class="form-control" />
                <span asp-validation-for="Dominante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelFamiliar" class="control-label"></label>
                <input asp-for="RelFamiliar" class="form-control" />
                <span asp-validation-for="RelFamiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcd" class="control-label"></label>
                <input asp-for="Pcd" class="form-control" />
                <span asp-validation-for="Pcd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcdObs" class="control-label"></label>
                <input asp-for="PcdObs" class="form-control" />
                <span asp-validation-for="PcdObs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habilitado" class="control-label"></label>
                <input asp-for="Habilitado" class="form-control" />
                <span asp-validation-for="Habilitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtividadeRem" class="control-label"></label>
                <input asp-for="AtividadeRem" class="form-control" />
                <span asp-validation-for="AtividadeRem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Declaracao" class="control-label"></label>
                <input asp-for="Declaracao" class="form-control" />
                <span asp-validation-for="Declaracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parecer" class="control-label"></label>
                <input asp-for="Parecer" class="form-control" />
                <span asp-validation-for="Parecer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataForm" class="control-label"></label>
                <input asp-for="DataForm" class="form-control" />
                <span asp-validation-for="DataForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PsicologoId" class="control-label"></label>
                <input asp-for="PsicologoId" class="form-control" />
                <span asp-validation-for="PsicologoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
