@model Models.Caixa

<h4>Caixa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPgto" class="control-label"></label>
                <input asp-for="FormaPgto" class="form-control" />
                <span asp-validation-for="FormaPgto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ref" class="control-label"></label>
                <input asp-for="Ref" class="form-control" />
                <span asp-validation-for="Ref" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricoId" class="control-label"></label>
                <input asp-for="HistoricoId" class="form-control" />
                <span asp-validation-for="HistoricoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <input asp-for="ProdutoId" class="form-control" />
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicaId" class="control-label"></label>
                <input asp-for="ClinicaId" class="form-control" />
                <span asp-validation-for="ClinicaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
