
@{
    ViewData["Title"] = "Perfil de Acesso Alterado Com Sucesso!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="text-info">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        @ViewData["Title"]
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    </h1>
    
</div>