#watermark {
    width: 300px;
    height: 100px;
    display: block;
    position: relative;
    opacity: 0.6;    
}

    #watermark::after {
        content: "";
        background: url(http://poupetran.com.br/images/tratadas/poupetran-logo-126x116-0.png)no-repeat;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        justify-content: center;
    }
