@model Models.Cliente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="page-title">
    <div class="clearfix"></div>
    <div class="col-md-12 ">
        <div class="row">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Novo Cliente</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <form asp-action="create" class="form-label-left input_mask">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="row">
                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <input asp-for="Nome" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nome">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>


                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Email">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-3 col-sm-2  form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Telefone" data-inputmask="'mask' : '(99) 99999-9999'">
                                <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-3 col-sm-2  form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Cep" data-inputmask="'mask': '99999-999'">
                                <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-6 col-sm-8  form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Endereço">
                                <span class="fa fa-thumb-tack form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-12  form-group">
                                <input type="text" placeholder="RENACH" class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-12  form-group">
                                <input type="text" placeholder="Perfil Psicologico" class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-12  form-group">
                                <input type="text" placeholder="Categoria" class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-12  form-group">
                                <input type="text" placeholder="Número Laudo" class="form-control">
                            </div>

                            <div class="col-md-3 col-sm-12  form-group">
                                <input type="text" placeholder="RG" class="form-control" data-inputmask="'mask': '99.999.999-9'">
                            </div>
                            <div class="col-md-3 col-sm-12  form-group">
                                <input asp-for="CPF" type="text" placeholder="CPF" class="form-control" data-inputmask="'mask': '999.999.999-99'">
                            </div>
                            <div class="col-md-3 col-sm-12  form-group">
                                <input asp-for="CNH" type="text" placeholder="CHN" class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-12  form-group">
                                <input type="text" placeholder="Data 1ª Habilitação" class="form-control" data-inputmask="'mask': '99/99/9999'">
                            </div>

                            <div class="col-md-2 col-sm-12  form-group">
                                <input type="text" placeholder="Data Nascimento" class="form-control" data-inputmask="'mask': '99/99/9999'">                                
                            </div>
                            <div class="col-md-5 col-sm-12  form-group">
                                <input type="text" placeholder="Nome do Pai" class="form-control">
                            </div>
                            <div class="col-md-5 col-sm-12  form-group">
                                <input type="text" placeholder="Nome da Mãe" class="form-control">
                            </div>

                            <div class="col-md-4 col-sm-12  form-group">
                                <input type="text" placeholder="Nacionalidade" class="form-control">
                            </div>

                            <div class="col-md-4 col-sm-12  form-group">
                                <input type="text" placeholder="Naturalidade" class="form-control">
                            </div>

                            <div class="col-md-4 col-sm-12  form-group">
                                <input type="text" placeholder="Estado Civil" class="form-control">
                            </div>

                            <div class="col-md-6 col-sm-12  form-group">
                                <input type="text" placeholder="Escolaridade" class="form-control">
                            </div>

                            <div class="col-md-6 col-sm-12  form-group">
                                <input type="text" placeholder="Profissão" class="form-control">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12">
                                <button class="btn btn-primary" type="button">Cancelar</button>
                                @*<button class="btn btn-primary" type="reset">Limpar</button>*@
                                <button type="submit" class="btn btn-success">Cadastrar</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>