<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>PPTR-Controles</title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="~/Content/vendors/dateTime/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    <!--Marca dagua-->
    <link href="~/css/watermark.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body class="nav-md"> <!--footer_fixed-->
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <p href="" class="site_title"><i class="fa fa-automobile"></i><span> PPTRControles</span></p>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="http://poupetran.com.br/images/tratadas/poupetran-logo-126x116-0.png" alt="Logo - Poupetran" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            
                           <partial name="_LoginPartialUserLogado"/>
                        </div>
                    </div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3> Menu </h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Administração <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Identity" asp-controller="Usuario" asp-action="Index">Acessos</a></li>
                                        <li><a asp-area="Administracao" asp-controller="Clinica" asp-action="Index">Clinicas</a></li>
                                        <li><a asp-area="Administracao" asp-controller="Historico" asp-action="Index">Historico</a></li>
                                        <li><a asp-area="Administracao" asp-controller="Contato" asp-action="Index">Contatos</a></li>                                        
                                        <li><a asp-area="Administracao" asp-controller="Produto" asp-action="Index">Produtos    </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-male"></i> Colaboradores <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Administracao" asp-controller="Colaborador" asp-action="Index">Listar</a></li>
                                        <li><a asp-area="Administracao" asp-controller="Colaborador" asp-action="Create">Cadastrar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-briefcase"></i> Clientes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Operacao" asp-controller="Cliente" asp-action="Index">Listar</a></li>
                                        <li><a asp-area="Operacao" asp-controller="Cliente" asp-action="Create">Cadastrar</a></li>
                                        <li><a asp-area="Operacao" asp-controller="Cliente" asp-action="Pesquisa">Pesquisar Histórico</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-dollar"></i> Caixa <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Financeiro" asp-controller="Caixa" asp-action="Index">Lançamentos</a></li>
                                        <li><a asp-area="Financeiro" asp-controller="Caixa" asp-action="Create">Cadastrar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Agendamentos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Operacao" asp-controller="Agenda" asp-action="Index">Listar</a></li>
                                        <li><a asp-area="Operacao" asp-controller="Agenda" asp-action="Create">Cadastrar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Relatórios Caixa <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Relatorio" asp-controller="Relatorios" asp-action="Diario">Diário</a></li>
                                        <li><a asp-area="Relatorio" asp-controller="Relatorios" asp-action="Mensal">Mensal</a></li>
                                        @*<li><a asp-area="Relatorio" asp-controller="Relatorios" asp-action="Consolidado">Consolidado</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <partial name="_LoginPartial"/>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row" style="display: inline-block;">
                    @RenderBody()
                   
                    @*<<<<<<<<<<<<<<<<<Layout das paginas aqui>>>>>>>>>>>>>>>>>*@

                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    2020 - Poupetran - Controles
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- bootstrap-datetimepicker -->
    <script src="~/Content/vendors/dateTime/js/bootstrap-datetimepicker.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- jquery.inputmask -->        
    <script src="~/Content/vendors/jquery/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>

    @RenderSection("ScriptPage", required: false)
</body>
</html>

